{{- $b := .badge -}}
{{- $contentId := .curriculaId -}}
{{- $orgId := .orgId | default "" -}}

{{- $svg := cond (partial "is-url.html" $b.svg) $b.svg (partial "resolve-local-resource.html" (dict "uuid" $orgId "banner" $b.svg )) -}}
{{- $png := cond (partial "is-url.html" $b.png) $b.png (partial "resolve-local-resource.html" (dict "uuid" $orgId "banner" $b.svg )) -}}

{{- $badge := "nil" -}}

{{- if $b }}
    {{- $badge =  dict
      "title" $b.title
      "description" $b.description
      "label" $contentId
      "svg" $svg
      "png" $png
    -}}
{{- end -}}


{{- return  $badge -}}
