
{{- $page := .page -}}
{{- $type := or $page.Params.Type "default" -}}
{{- $banner_url := partial "resolve-local-resource.html" (dict "page" .page "path" .page.Params.Banner) -}}
{{- $id := partial "id.html" .page -}}

"title": {{ $page.Title | jsonify }},
"slug": {{ or $page.Slug $page.File.ContentBaseName | jsonify }},
"id": {{ $id | jsonify }},
"level": {{ $page.Params.level | jsonify }},
"description": {{ $page.Description | jsonify }},
"weight": {{ $page.Params.Order | jsonify }},
"banner": {{ $banner_url | jsonify }},
"permalink": {{ $page.RelPermalink | jsonify }},
"type": {{ $type | jsonify }},
"prerequisites": {{ partial "test/collect-prerequisites.html" $page | jsonify }},
"reading_time": {{ $page.ReadingTime | jsonify }},
"competencies": {{ $page.Params.competencies | jsonify }},
"objectives": {{ $page.Params.objectives | jsonify }},
"audience": {{ $page.Params.audience | jsonify }},
"prerequisite_knowledge": {{ $page.Params.prerequisite_knowledge | jsonify }},
"related_resources": {{ $page.Params.related_resources | jsonify }}

