
{{- /* learning-path.json.html */ -}}
{{- $ctx := partial "resolve-tenant.html" . -}}
{{- $uuid := $ctx.uuid -}}
{{- $level := partial "validate-level.html" . -}}
{{- $banner_url := partial "resolve-local-resource.html" (dict "page" . "path" .Params.Banner) -}}
{{- $id := partial "id.html" . -}}

{{/* 
  This file is used to generate the JSON representation of a learning path.
  It includes metadata such as title, description, banner, and courses.
*/}}

{
  "id": {{ $id | jsonify }},
  "level": {{ (trim  $level " \n\r\t") | jsonify }},
  "slug": {{ or .Slug .File.ContentBaseName | jsonify }},
  "org_id": {{ $uuid | jsonify }},
  "type": {{ .Params.Type | jsonify }},
  "visibility": {{ or .Params.Visibility "public" | jsonify }},
  "status": {{ or .Params.Status "ready" | jsonify }},
  "metadata": {
    "title": {{ .Title | jsonify }},
    "description": {{ .Description | jsonify }},
    "banner": {{ $banner_url | jsonify }},
    "badge": {{ partial "badge.html" (dict "page" . "badge" .Params.badge "curriculaId" $id ) | jsonify }},
    "certificate": {{ .Params.certificate | jsonify }},
    "permalink": {{ .Permalink | jsonify }},
    "categories": {{ .Params.Categories | jsonify }},
    "tags": {{ .Params.Tags | jsonify }},
    "total_courses": {{ len (where .Pages "Type" "course") }},
    "total_tests": {{ len (where .Pages "Type" "test") }},
    "total_modules": {{ len (where .Pages "Type" "module") }},
    "total_pages": {{ len (where .Pages "Type" "page") }},

    "children": [
      {{- range $j, $c := .Pages }}
        {{- if $j }},{{ end }}
        {{ partial "course.json.html" (dict "page" $c "uuid" $uuid) }}
      {{- end }}
    ]
  }
}
