{{- $p := .Params -}}
{{- $prerequisites := partial "test/collect-prerequisites.html" . -}}
{{- $ctx := partial "resolve-tenant.html" . -}}
{{- $orgId := $ctx.uuid -}}
{{- $id := partial "id.html" . -}}
{{- $quizID := partial "uuid.html" $id -}}
{{- $pageKey := printf "%s:%s" .File.Path .RelPermalink -}}
{{- partial "academy-validation/validate-test-metadata.html" . -}}

{{- $totalQuestionsPerSet := $p.number_of_questions | default (len $p.questions) -}}

<!-- Validate: TotalQuestions should be multiple of totalQuestionsPerSet -->
{{- if ne (mod (len $p.questions) $totalQuestionsPerSet) 0 -}}
  {{- errorf "Total questions (%d) is not a multiple of total_questions_per_set (%d) [ %s ]" (len $p.questions) $totalQuestionsPerSet .File.Path -}}
{{- end -}}

<!-- Validate: marks must be positive (greater than 0) -->
{{- range $index, $question := $p.questions -}}
  {{- $marks := or $question.marks 0 -}}
  {{- if le $marks 0 -}}
    {{- errorf "Question %d (id: %s) has invalid marks value '%v'. Marks must be greater than 0. Please update the 'marks' field with a positive number. [ %s ]" (add $index 1) $question.id $marks $.File.Path -}}
  {{- end -}}
{{- end -}}

{{- $numberOfQuestionSets := div (len $p.questions) $totalQuestionsPerSet -}}

{{- $total := 0 -}}
{{- range first $totalQuestionsPerSet $p.questions -}}
  {{- $total = add $total (or .marks 0) }}
{{- end }}

{{- $maxAttempts := or $p.max_attempts 0 -}}
{{- if and (eq $maxAttempts 0) (gt $numberOfQuestionSets 1) -}}
    {{ $maxAttempts = $numberOfQuestionSets -}}
{{- end -}}

{{- $parent := (cond (ne .Parent nil) (partial "test/parent.html" .Parent) nil) -}}


{{- $nextPage := dict -}}
{{- if .PrevInSection -}}
  {{- $next := .PrevInSection -}}
  {{- $nextPage = partial "test/parent.html" $next -}}
{{- end -}}

{{- $questions := slice -}}
{{- range $index, $question := $p.questions -}}
  {{- $questions = $questions | append (partial "test/question.html" (dict "question" $question "pageKey" $pageKey "index" $index)) -}}
{{- end -}}

{{- $normalizedPrerequisites := slice -}}
{{- range $prereq := $prerequisites -}}
  {{- $normalizedPrerequisites = $normalizedPrerequisites | append (dict
    "id" (partial "uuid.html" $prereq.id)
    "title" $prereq.title
    "relPermalink" $prereq.relPermalink
    "type" $prereq.type
  ) -}}
{{- end -}}


{{- return (dict
  "id" $quizID
  "title" .Title
  "org_id" $orgId
  "final" (partial "test/is-final.html" .)
  "description" (.Content | safeHTML)
  "slug" .Slug
  "relPermalink" .RelPermalink
  "permalink" .Permalink
  "type" .Type
  "section" .Section
  "layout" .Layout
  "date" (.Date | time.Format "2006-01-02")
  "lastmod" (.Lastmod | time.Format "2006-01-02")
  "draft" .Draft
  "file_path" .File.Path
  "maxAttempts" $maxAttempts
  "totalQuestionSets" $numberOfQuestionSets 
  "totalQuestionsInBank" (len $p.questions)
  "passPercentage" (or $p.pass_percentage 70)
  "timeLimit" (or $p.time_limit 0)
  "questions" $questions
  "totalQuestions" $totalQuestionsPerSet
  "prerequisites" $normalizedPrerequisites
  "totalMarks" $total
  "parent" $parent
  "nextPage" $nextPage
) -}}
